@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-color: #1c1c1c;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
}

#grid-container {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-rows: 33.33% 33.33% 33.33%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 3px;
  margin: 0 auto;
}

#grid-container > div {
  background-color: peachpuff;
}

#grid-container > div > p {
  display: inline;
  font-size: 90px;
  color: black;
  text-align: center;
}